<!DOCTYPE html>
<html>

<head>
    <% include ../parts/header %>
</head>

<body>
    <% include ../parts/nav %>
    <div class="container home home-welcome">
        <div class="jumbotron">
            <h1>MEN - 게시판</h1>
        </div>
    </div>

    <% include ../parts/footer %>